@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
.scroll-offset {
  scroll-margin-top: 6rem; /* Adjust based on your header height */
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

/* Hide the scrollbar while allowing scrolling */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}


@keyframes dance {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(-5px);
    }
  }
  
  .dancing-text {
    display: inline-block;
    animation: dance 1s infinite;
  }
  