@tailwind base;
@tailwind components;
@tailwind utilities;
  

html, body {
  height: 100%;
  overflow-y: scroll;         /* Allow vertical scrolling */
  -ms-overflow-style: none;   /* IE 10+ */
  scrollbar-width: none;      /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

@keyframes marquee-alt {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-alt {
  animation: marquee-alt 35s linear infinite;
  will-change: transform;
}


.animate-marquee-alt:hover {
  animation-play-state: paused;
}


